.App {
  text-align: center;
background: #01d277;
color: #081c24;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height:10vh;
  background-color:#0e1521;
  color:#01d277;
}
.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}